<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.traccar.client"
    android:versionCode="6"
    android:versionName="1.5">
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        
        <activity
            android:name="TraccarActivity"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="StatusActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="AboutActivity"
            android:label="@string/app_name">
        </activity>
        
        <service android:name="TraccarService" />
    
    </application>

</manifest>
