<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:label="@string/hidden_app_name"
        tools:replace="android:label">

        <activity
            android:name="org.traccar.client.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.traccar.org" android:pathPrefix="/hidden" />
            </intent-filter>
        </activity>

        <receiver android:name="org.traccar.client.DialLaunchReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
