<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:label="@string/hidden_app_name"
        tools:replace="label">

        <receiver android:name="org.traccar.client.DialLaunchReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
