<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="org.traccar.client.GoogleMainApplication"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning">

    </application>

</manifest>
